@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;800&display=swap");

/************* HOME PAGE *************/

:root {
    --light-color: #ffffff;
    --dark-color: #060606;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.home {
    background-color: #ffffff;
    font-family: "Quicksand", sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    color: #060606;
}

.showcase {
    position: relative;
    height: 100%;
    padding: 2rem;
    text-align: center;
    isolation: isolate;
}

.navbar {
    padding-block: 1.5rem;
}

.navbar ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem 2rem;
}

.navbar li {
    margin-right: 60px;
    font-size: 1.15vw;
}

/*** UTILITY CLASSES ***/
.overflow-hidden {
    overflow: hidden;
}

.showcase::before {
    content: "";
    position: fixed;
    top: -150%;
    left: -100%;
    z-index: -1;
    width: 350%;
    height: 350%;
    opacity: 25%;
    background-size: cover; 
    transform-origin: center; 
}

@media screen and (min-width: 64em) {
    .showcase,
    .showcase > *:not(.link) {
        padding: 0;
    }

    .showcase {
        text-align: left;
        display: grid;
        grid-template-columns: 10rem 12rem 10rem 1fr 1fr;
        grid-template-rows: 8rem min-content min-content 1fr 5rem;
        grid-template-areas:
            "logo1 ... ... navbar dashboard"
    }
    
    .logo1 {
        grid-area: logo1;
        margin: auto;
    }

    .navbar {
        grid-area: navbar;
    }

    .link:hover {
        text-decoration: line-through;
    }

    .link-dashboard {
        grid-area: dashboard;
    }

    .vertical-center {
        display: flex;
        align-self: center;
    }

    /*** UTILITY CLASSES ***/
    .sm-hidden {
        display: block;
    }
    .xl-hidden {
        display: none;
    }
}

.logo-image {
    width: 3.5rem;
    margin-inline: auto;
}

@media (prefers-reduced-motion: no-preference) {
    .showcase::before {
        animation: grain 5s steps(10) infinite;
    }

    @keyframes grain {
        0%,
        100% {
            transform: translate(0);
        }
        10% {
            transform: translate(-5%, -10%);
        }
        20% {
            transform: translate(-15%, 5%);
        }
        30% {
            transform: translate(7%, -25%);
        }
        40% {
            transform: translate(-5%, 25%);
        }
        50% {
            transform: translate(-15%, 5%);
        }
        60% {
            transform: translate(15%);
        }
        70% {
            transform: translateY(15%);
        }
        80% {
            transform: translate(3%, 35%);
        }
        90% {
            transform: translate(-10%, 10%);
        }
    }
}

.container {
    height: 26vh;
    width: 75%;
    background: linear-gradient(45deg, #d2001a, #7462ff, #f48e21, #23d5ab);
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
    overflow-x: hidden;
    border-radius: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 12.5%;
    font-size: 8rem;
    color: rgba(255, 255, 255, 0.55);
    text-shadow: hsla(235, 32%, 15%, 0.2);
    opacity: 0.8;
}

.container2 {
    height: 30vh;
    width: 75%;
    background: linear-gradient(45deg, rgba(210, 0, 26, 0.25), rgba(116, 98, 255, 0.25), rgba(244, 142, 33, 0.25), rgba(35, 213, 171, 0.25));
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
    overflow-x: hidden;
    border-radius: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 12.5%;
    font-size: 1.8rem;
    color:#060606;
}
@keyframes color {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.space {
    color: #ffffff;
    font-size: 0.75rem;
}

i {
    font-style: italic;
}

.container2 p {
    margin-left: 18%;
    margin-right: 18%;
}

.goals {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
    margin-left: 10%;
    margin-right: 10%;
}

h1 {
    margin-top: 8%;
    margin-bottom: 3%;
    text-align: center;
    font-weight: 490;
    font-size: 4rem;
    color:#9864ff;
    letter-spacing: 0.1rem;
}

.main {
    background-color: #ffffff;
}

.end {
    text-align: center;
    padding-left: 10rem; 
    padding-right: 10rem;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.contact-btn a {
    padding-left: 50rem;
    padding-right: 10rem;
    color: #060606;
    font-weight: 500;
    font-size: 6rem;
 
    background: transparent;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    margin: 3rem 3rem 3rem 0;
    transition: 0.3s ease;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.contact-btn a:hover {
    text-decoration: underline;
    color: #a583fb;
    transition: 0.3s ease;
}
  
.column {
    flex: 1;
    padding: 20px;
    text-align: left;
}

.column:not(:last-child) {
    border-right: 1px solid #ccc;
}

footer {
    font-size: 1.4rem;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}






@media (min-width: 2250px) and (min-height: 1200px) { 
    .navbar li {
        font-size: 0.75vw;
    }
    .home {
        height: 400%;
        overflow-x: hidden;
    }
}

@media (min-width: 767px) and (max-width: 2250px) { 
    .navbar li {
        font-size: 1.25vw;
    }
    .home {
        height: 400%;
        overflow-x: hidden;
    }
}

@media (max-width: 767px) {
    .home {
        overflow-x: hidden;
    }
    .navbar {
        padding-block: 1rem;
    }
    .navbar ul {
        flex-direction: row;
    }
    .navbar li {
        font-size: 1.25rem;
        text-align: center;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .contact-btn a {
        font-size: 3rem;
    }
    .container {
        overflow-x: hidden;
        height: 16vh;
        width: 75%;
        font-size: 4rem;
    }
    .container2 {
        overflow-x: hidden;
        height: 54vh;
        width: 75%;
        font-size: 1.6rem;
    }
    h1 {
        font-size: 3rem;
    }
    .end {
        padding-left: 6rem; 
        padding-right: 6rem;
        padding-top: 8rem;
        padding-bottom: 8rem;
        overflow-x: hidden;
    }
    .column {
        display: block; /* Ensures each item is displayed as a block */
        width: 90%;    /* Makes each item take up full width */
        margin-bottom: 1rem; /* Optional: Adds space between the items */
        overflow-x: hidden;
        margin-left: 0;
        margin-right: 0;
        font-size: 1.5rem;
    }
    /* Remove flex properties from any parent container */
    .goals {
        display: block; /* Reset to block if it was flex */
        width: 90%;   /* Ensure full width */
        overflow-x: hidden;
        margin-bottom: 0rem;
    }
    .column:not(:last-child) {
        border-right: none;
    }
}