@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;800&display=swap");

/************* HOME PAGE *************/

:root {
    --light-color: #ffffff;
    --dark-color: #060606;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.home {
    background-color: #ffffff;
    font-family: "Quicksand", sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    color: #060606;
}

.showcase {
    position: relative;
    height: 100%;
    padding: 2rem;
    text-align: center;
    isolation: isolate;
}

.navbar {
    padding-block: 1.5rem;
}

.navbar ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem 2rem;
}

.navbar li {
    margin-right: 60px;
    font-size: 1.15vw;
}

/*** UTILITY CLASSES ***/
.overflow-hidden {
    overflow: hidden;
}

.showcase::before {
    content: "";
    position: fixed;
    top: -150%;
    left: -100%;
    z-index: -1;
    width: 350%;
    height: 350%;
    opacity: 25%;
    background-size: cover; 
    transform-origin: center; 
}

@media screen and (min-width: 64em) {
    .showcase,
    .showcase > *:not(.link) {
        padding: 0;
    }

    .showcase {
        text-align: left;
        display: grid;
        grid-template-columns: 10rem 12rem 10rem 1fr 1fr;
        grid-template-rows: 8rem min-content min-content 1fr 5rem;
        grid-template-areas:
            "logo1 ... ... navbar dashboard"
    }
    
    .logo1 {
        grid-area: logo1;
        margin: auto;
    }

    .navbar {
        grid-area: navbar;
    }

    .link:hover {
        text-decoration: line-through;
    }

    .link-dashboard {
        grid-area: dashboard;
    }

    .vertical-center {
        display: flex;
        align-self: center;
    }

    /*** UTILITY CLASSES ***/
    .sm-hidden {
        display: block;
    }
    .xl-hidden {
        display: none;
    }
}

.logo-image {
    width: 3.5rem;
    margin-inline: auto;
}

@media (prefers-reduced-motion: no-preference) {
    .showcase::before {
        animation: grain 5s steps(10) infinite;
    }

    @keyframes grain {
        0%,
        100% {
            transform: translate(0);
        }
        10% {
            transform: translate(-5%, -10%);
        }
        20% {
            transform: translate(-15%, 5%);
        }
        30% {
            transform: translate(7%, -25%);
        }
        40% {
            transform: translate(-5%, 25%);
        }
        50% {
            transform: translate(-15%, 5%);
        }
        60% {
            transform: translate(15%);
        }
        70% {
            transform: translateY(15%);
        }
        80% {
            transform: translate(3%, 35%);
        }
        90% {
            transform: translate(-10%, 10%);
        }
    }
}

.container {
    height: 26vh;
    width: 95%;
    background: linear-gradient(45deg, #d2001a, #7462ff, #f48e21, #23d5ab);
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
    overflow-x: hidden;
    border-radius: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 2.5%;
    font-size: 10rem;
    color:#ffffff;
    opacity: 0.8;
}

.container2 {
    height: 20vh;
    width: 95%;
    background: linear-gradient(45deg, rgba(210, 0, 26, 0.25), rgba(116, 98, 255, 0.25), rgba(244, 142, 33, 0.25), rgba(35, 213, 171, 0.25));
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
    overflow-x: hidden;
    border-radius: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 2.5%;
    font-size: 2rem;
    color:#060606;
}
@keyframes color {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.space {
    color: #ffffff;
}

i {
    font-style: italic;
}

.container2 p {
    margin-left: 18%;
    margin-right: 18%;
}




@media (min-width: 2250px) and (min-height: 1200px) { 
    .navbar li {
        font-size: 0.75vw;
    }
    .home {
        height: 400%;
        overflow-x: hidden;
    }
}

@media (min-width: 767px) and (max-width: 2250px) { 
    .navbar li {
        font-size: 1.25vw;
    }
    .home {
        height: 400%;
        overflow-x: hidden;
    }
}

@media (max-width: 767px) {
    .navbar {
        padding-block: 1rem;
    }
    .navbar ul {
        flex-direction: row;
    }
    .navbar li {
        font-size: 1.25rem;
        text-align: center;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}