@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;800&display=swap");

/************* HOME PAGE *************/

:root {
    --light-color: #ffffff;
    --dark-color: #060606;
}

.home {
    background-color: #ffffff;
}

p {
    font-family: "Quicksand", sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
}